{
	frankenphp {
		worker ./public/index.php
	}
}

localhost {
	log

	encode zstd br gzip

	root public/

	request_header X-Sendfile-Type x-accel-redirect
	request_header X-Accel-Mapping ../private-files=/private-files
	intercept {
		@sendfile header X-Accel-Redirect *
		handle_response @sendfile {
			root private-files/
			rewrite * {resp.header.X-Accel-Redirect}
			method * GET
			header -X-Accel-Redirect
			file_server
		}
	}

	php_server {
		try_files {path} index.php
	}
}
