{
	# This file is only used for dev and benchmarking.
	# Please see /etc/Caddyfile in the container, for the one that is actual used in this demo

	#debug
	frankenphp {
		worker ./public/index.php
	}
}

localhost {
	#log
	route {
		root * public/
		#php_fastcgi 127.0.0.1:9000
		php_server
	}
}
